<footer class="footer">
  <div class="footer__container container">
    <div class="footer__section">
      <h3 class="footer__title">Get in Touch</h3>
      <p class="footer__text">
        I'm always open to discussing new projects, creative ideas, or
        opportunities to be part of your vision.
      </p>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">Find me on</h3>
      <div class="footer__socials">
        <a class="footer__social-link" href="mailto:rebecca.lingzw@gmail.com">
          <i class="uil uil-envelope"></i>
        </a>
        <a
          href="https://github.com/"
          target="_blank"
          class="footer__social-link"
        >
          <i class="uil uil-github-alt"></i>
        </a>
        <a
          href="https://linkedin.com/"
          target="_blank"
          class="footer__social-link"
        >
          <i class="uil uil-linkedin-alt"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <hr class="footer__divider" />
  </div>

  <div class="footer__bottom container">
    <p>Hooray! You've reached the bottom 🎉 © Rebecca Ling, 2025.</p>
  </div>
</footer>
