<footer class="footer">
  <div class="footer__bg">
    <div
      class="footer__container container grid"
      data-aos="fade-up"
      data-aos-delay="500"
    >
      <div>
        <h1 class="footer__title">Rebecca</h1>
        <span class="footer__subtitle">UI/UX Designer</span>
      </div>

      <ul class="footer__link">
        <li>
          <a href="index.html" class="footer__link">Home</a>
        </li>
        <li>
          <a href="nyc.html" class="footer__link">NYC Internship</a>
        </li>
        <li>
          <a href="govtech.html" class="footer__link">GovTech Internship</a>
        </li>
        <li>
          <a href="hackit.html" class="footer__link">HACK-IT!</a>
        </li>
        <li>
          <a href="PUG.html" class="footer__link">Pick Up Games</a>
        </li>
        <li>
          <a href="sentient.html" class="footer__link">Sentient.io</a>
        </li>
      </ul>

      <div class="footer__socials">
        <a
          href="https://www.linkedin.com/in/rebeccaling1209/"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-linkedin"></i>
        </a>
        <a
          href="https://github.com/rebby-ling"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-github"></i>
        </a>
      </div>
    </div>

    <p class="footer__copy">
      Hooray! You've reached the bottom 🥳 © Rebecca Ling, 2025.
    </p>
  </div>
</footer>
